
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Georgia", Times, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.header-pic-div{
  display: flex;
  height:10vh;
  width: 100%;
  background-image: url("https://t4.ftcdn.net/jpg/02/28/92/23/360_F_228922358_V7pawRfc0ryB6rtkLBSI2782CyAZi2s4.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: white;
  font-size: 40px;
  position: relative;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Goudy Old Style", "Courier New", serif;
}

.header-links{
  padding: 30px;
  text-align: center;
  background-image: -webkit-linear-gradient(top, #6af24c, #90b545);
  height: 5vh;
  width: 100%;
  box-shadow: 0px 6px 15px 1px #000;
}
span{
padding:10px;
}
.sider-main{
  margin-right: auto;
width: 30vh;
word-wrap: break-word;
margin-left:80%;
position: absolute;
top: 40%;
}
.sider-title{
  box-shadow: 0px 6px 15px 1px #000;
  background-image: -webkit-linear-gradient(top, #6af24c, #90b545);
  border-radius: 25px;
text-align: center;
}
.underline{
  text-decoration-line: underline; 
  color: green;
}
.etusivu{
  display:grid;
  margin:auto;
  width: 80vh;
  grid-gap: 10px;
  top: 20px;
  padding: 10px;

}
.etusivu-kuva{
  float: left;
  clear: left;
}
.right-container{
  display:flex;
  justify-content: space-around;
  padding: 10px;
  text-align: left;
  line-height: 3;
}
.bold{
  font-weight: bold;
}
.boldu{
  font-weight: bold;
  text-decoration-line: underline;
}
.footer-text{
  width: 50%;
  margin: 0 auto;
}
.footer-container{
  background-color: #67b545;
  margin-top: 1em;
  padding: 1em;
}
.main{
  min-height: 80vh;
min-width: 80vh;
display:grid;
  margin:auto;
}
.hyvinvointi{
  display:grid;
  margin:auto;
 
    width: 80vh;
    grid-gap: 10px;
    top: 20px;
    padding: 10px;
}
.cringe{
  color: green;
}
.cringe2{
  color: green;
  font-weight: bold;
}
.header-link {
	background:linear-gradient(to bottom, #369950 5%, rgb(71, 149, 32) 100%);
	background-color:#0b8132;
	border-radius:19px;
	border:1px solid #0f991d;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	padding:8px 19px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
.header-link:hover {
	background:linear-gradient(to bottom, #5cbf2a 5%, #44c767 100%);
	background-color:#5cbf2a;
}
.header-link:active {
	position:relative;
	top:1px;
}
.galleria-img{
  height: 80%;
  width: 100%;
}
        

.ajanvaraus{
  text-align: center;
  padding: 2%;
}
.ajanvaraus2{
  padding: 2%;
  float: left;
}
.nav-header{
  display: none;
}
.header-links2{
  padding: 30px;
  text-align: center;
  background-image: -webkit-linear-gradient(top, #6af24c, #90b545);
  height: 5vh;
  width: 100%;
  box-shadow: 0px 6px 15px 1px #000;
}
@media (max-width:1200px){
  .nav-header{
    display:grid;
    align-items: center;
    color: #6af24c;
    align-self: center;
  }
  .sider-main{
  width: 100%;
  word-wrap: break-word;
  position: relative;
  text-align: center;
    margin-right:0%;
  margin-left:0%;
  top: 0px;
  }
  .header-pic-div{
    display: flex;
    height:10vh;
    width: 100%;
    min-width: 100%;
    background-image: url("https://t4.ftcdn.net/jpg/02/28/92/23/360_F_228922358_V7pawRfc0ryB6rtkLBSI2782CyAZi2s4.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: white;
    font-size: 20px;
    position: relative;
  }
  .right-container{
      display:flex;
      justify-content:baseline;
      padding: 10px;
      text-align: left;
      line-height: 3;
      position: relative;
      float:right;
  }
  .etusivu{
    display:inline;
    margin: 0%;
    width: 64%;
    max-width: 100%;
    grid-gap: 5px;
    top: 10px;
    padding: 5px;
    word-wrap: break-word;
  }
  .etusivu-kuva{
    float: top;
    clear: top;
    position: relative;
  }
  .header-links{
    text-align: center;
    background-image: -webkit-linear-gradient(top, #6af24c, #90b545);
    height: 50px;
    box-shadow: 0px 6px 15px 1px #000;
    display: none;
  }
  .footer-container{
    background-color: #90b545;
    margin-top: 1em;
    padding: 1em;
    width: 100%;
    word-wrap: break-word;
  }
  .etusivu-kuva2{
    width: 400px;
    height: 400px;
  }
}
nav {
  background: var(--clr-white);
  padding: 1rem 1.5rem;
}
